/* The @media rule is used in media queries to apply different styles for different media/types of devices */
@media screen and (max-width: 576px) {
    /* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
    img {
        height: 100%;
        margin-top: 150px;
    }

    /* Screens 576px and smaller will display navbar links equally distributed */
    .navbar a {
        width: 25%;
        font-size: 12px;
    }

    /* Screens that are 576px and smaller will not display the background video */
    #background-video {
        display: none;
    }

    /* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
    .column-1 {
        overflow: auto;
    }
}